/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;

}

.contenedor-flex .carta {    
    border: 1px solid black;
    flex-basis: calc(16.43% - 5px);
    margin-bottom: 5px;
    text-align: center;
    height: 150px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.contenedor-flex .carta i {
    color: blue;
    font-size: 32px;    
    transition: all 0.5s ease-out;
}

.contenedor-flex .carta:hover i {
    color: darkorange;
}

.contenedor-flex .carta:hover {
    background-color: aqua;    
}
.contenedor-grid {

}